<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical_insurance_charges</title>
</head>
<body style="background-color: hsl(61, 100%, 50%);">
<!-- <body background-image="static/dhoni.jpg" background-repeat="no-repeat” background-size="cover”> -->
    <!-- <center> -->
    <center>
    <h1> Medical Health Insurance Form</h1>
    </center>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSURANCE -->
    <br>
    <br>
    <img src='static\dhoni.jpg'>
    
    <br><br>
    <form method="POST" action ="/predict_performance">
        
        <label>Hours_Studied:</label>
        <input type="text" name ="Hours_Studied">
        <br>
        <br>   	
        <label>Previous_Scores:</label>
        <input type="text" name ="Previous_Scores">
        <br>
        <br>  					
        <label>Extracurricular_Activities:</label>
        <select name="Extracurricular_Activities">
            <option value="Yes">Yes</option>
            <option value="No">No</option></select>
        
        <br>  
        <br>
        <label>Sleep_Hours:</label>
        <input type="text" name ="Sleep_Hours">
        <br>
        <br>    
        <label>Sample_Question_Papers_Practiced:</label>
        <input type="text" name ="Sample_Question_Papers_Practiced">
        <br>
        <br>       
        <input type="submit" value ="SUBMIT">
     

    </form>
   
    <br>
    <br>
  
    <!-- </center>  -->
</body>
</html>

